button {
    margin:0 auto;
    display:block;
    overflow:hidden;
}

body {
    background-image: url("CarsWallpaper.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: hsl(0, 0%, 0%);

   }

a{
    text-decoration: none;
   }
